.partial {
    background-color: orange;
    border-radius: .1rem;
    margin:.1rem
}
.incorrect {
    background-color: red;
    border-radius: .1rem;
    margin:.1rem
}
.correct {
    background-color: green;
    border-radius: .1rem;
    margin:.1rem
}

html{
    height:100vh;
    width: 100vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin:0;
    background-color: #0E0E0F;
    color: white;
}

.scoresContainer{
    display : flex;
    margin-inline: auto;
    margin-block: 4rem;
    text-align: center;
}

.mutos{
    font-size:2rem;
    font-weight: bold;
    background-color: #1d1d20;
    color: white;
    padding:1rem;
}

.titleTest{
    margin: 1rem;
}

.inputTest{
    border:none;
    border-radius: .2rem;
    padding:.3rem;
}


.btnTest{
    background-color: rgb(58, 187, 7);
    border: none;
    border-radius:.2rem;
    padding-inline:.5rem;
    padding-block:.2rem;
}

.btnTest:hover{
    cursor: pointer;
    background-color: rgb(48, 156, 5);
}

.res{
    margin:2rem;
}